<h1>Horas index</h1>
<p>horas</p>
<%= @hour.each do |hour| %>
    <%= hour.group_id %>
    <%= link_to 'Editar', edit_hour_path(hour) %>
    <%= link_to 'Eliminar', hour, method: :delete, data:{confirm: 'Seguro deseas eliminarlo?'} %>
    
    <br>
<% end %>
